/*font-awesome*/

@font-face {
  font-family: "FontAwesome";

  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");

  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0")
      format("embedded-opentype"),
    url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
    url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),
    url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
    url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular")
      format("svg");

  font-weight: normal;

  font-style: normal;
}

/*added font*/

@font-face {
  font-family: "July Girl";
  src: url("../fonts/JulyGirl.eot");
  src: url("../fonts/JulyGirl.eot?#iefix") format("embedded-opentype"),
    url("../fonts/JulyGirl.woff2") format("woff2"),
    url("../fonts/JulyGirl.woff") format("woff"),
    url("../fonts/JulyGirl.ttf") format("truetype"),
    url("../fonts/JulyGirl.svg#JulyGirl") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: url("../fonts/NexaBold.eot");
  src: url("../fonts/NexaBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/NexaBold.woff2") format("woff2"),
    url("../fonts/NexaBold.woff") format("woff"),
    url("../fonts/NexaBold.ttf") format("truetype"),
    url("../fonts/NexaBold.svg#NexaBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa-book";
  src: url("../fonts/Nexa-Book.eot");
  src: url("../fonts/Nexa-Book.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Nexa-Book.woff2") format("woff2"),
    url("../fonts/Nexa-Book.woff") format("woff"),
    url("../fonts/Nexa-Book.ttf") format("truetype"),
    url("../fonts/Nexa-Book.svg#Nexa-Book") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*Fonts*/

* {
  margin: 0;

  padding: 0;

  outline: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

button,
input[type="submit"],
input[type="reset"],
a {
  transition: all 0.4s ease-in-out;

  -moz-transition: all 0.4s ease-in-out;

  -webkit-transition: all 0.4s ease-in-out;

  -ms-transition: all 0.4s ease-in-out;

  -o-transition: all 0.4s ease-in-out;

  text-decoration: none;
}

::-moz-selection {
  color: #ffd6e9;

  background: #3399ff;
}

::selection {
  color: #ffd6e9;

  background: #3399ff;
}

::-moz-selection {
  color: #ffd6e9;

  background: #3399ff;
}

::-webkit-input-placeholder {
  color: #e4e4e4;

  font-size: 16px;
}

::-moz-placeholder {
  color: #e4e4e4;

  font-size: 16px;
}

:-ms-input-placeholder {
  color: #e4e4e4;

  font-size: 16px;
}

::-ms-input-placeholder {
  color: #e4e4e4;

  font-size: 16px;
}

::placeholder {
  color: #e4e4e4;

  font-size: 16px;
}

::-webkit-input-placeholder {
  color: #e4e4e4;

  font-size: 16px;
}

:-ms-input-placeholder {
  /* IE 10+ */

  color: #e4e4e4;

  font-size: 16px;
}

:-moz-placeholder {
  /* Firefox 18- */

  color: #e4e4e4;

  font-size: 16px;
}

::-moz-placeholder {
  /* Firefox 19+ */

  color: #e4e4e4;

  font-size: 16px;
}

::-moz-placeholder {
  color: #e4e4e4;

  font-size: 16px;
}

textarea::-webkit-input-placeholder {
  color: #e4e4e4;

  font-size: 16px;
}

textarea:-moz-placeholder {
  /* Firefox 18- */

  color: #e4e4e4;

  font-size: 16px;
}

textarea::-moz-placeholder {
  /* Firefox 19+ */

  color: #333333;
}

textarea:-ms-input-placeholder {
  color: #e4e4e4;

  font-size: 16px;
}

/* font-family: 'Roboto', sans-serif;

 font-family: 'Poppins', sans-serif;

*/

body {
  font-weight: normal;

  line-height: normal;

  font-size: 18px;
}

*:focus {
  outline: none;
}

ul {
  list-style-type: none;

  margin: 0;

  padding: 0;
}

img {
  max-width: 100%;

  -webkit-transition: all 0.5s;

  -moz-transition: all 0.5s;

  -ms-transition: all 0.5s;

  -o-transition: all 0.5s;
}

a {
  outline: none !important;

  border: none;

  transition: all 0.5s;

  -moz-transition: all 0.5s;

  -webkit-transition: all 0.5s;

  -o-transition: all 0.5s;

  -ms-transition: all 0.5s;
}

a:hover,
a:focus {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;

  font-weight: normal;

  padding: 0;

  margin: 0;
}

img {
  border: none;

  -o-transition: all 0.3s;

  transition: all 0.3s;

  -ms-transition: all 0.3s;

  -webkit-transition: all 0.3s;
}

p {
  margin: 0;

  padding: 0;
}

ul {
  list-style-type: none;

  margin: 0;

  padding: 0;
}

.navbar {
  border-radius: 0;

  margin-bottom: 0;

  padding: 0;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
}

/*****************/

.container {
  max-width: 1560px;
}

.navbar,
.nav-link,
.nav-link {
  padding: 0;
}

/*As Per Design Change*/

.cus_nav_outr {
  padding: 20px 0px;

  background: #eee;
}

.cus_nav_innr {
  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  -webkit-box-align: center;

  -ms-flex-align: center;

  align-items: center;

  -webkit-box-pack: justify;

  -ms-flex-pack: justify;

  justify-content: space-between;
}

.navbar-nav li {
  padding: 0px;

  position: relative;

  -webkit-transition: all 0.5s;

  -o-transition: all 0.5s;

  transition: all 0.5s;
}

.navbar-nav li:first-child {
  padding-left: 0;
}

.right_nav {
  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  -webkit-box-align: center;

  -ms-flex-align: center;

  align-items: center;
}

.navbar-nav li a {
  display: block;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 0;

  padding-left: 0;
}

/***/

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
}

.navbar {
  border-radius: 0;

  margin-bottom: 0;

  padding: 0;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
}

.btn-primary.focus {
  -webkit-box-shadow: none;

  box-shadow: none;
}

/*Header*/

.top_header {
  padding: 0;
}

/*zoom effect*/

.zoom_otr {
  overflow: hidden;
}

.bnr_pic {
  overflow: hidden;
}

.zoom {
  -webkit-animation: scale 20s linear infinite;
  animation: scale 20s linear infinite;
}

@-webkit-keyframes scale {
  50% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes scale {
  50% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
}

/*Zoom effect*/

.bnr_content {
  position: absolute;

  top: 50%;

  -webkit-transform: translateY(-50%);

  -ms-transform: translateY(-50%);

  transform: translateY(-50%);
}

.bnr_otr {
  position: relative;

  overflow: hidden;
}

/* Banner End */

/* cmn_margin */

.mt-40 {
  margin-top: 40px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-40 {
  margin-bottom: 40px;
}

/*----Common Sec----*/

.cmn_pdding {
  padding: 90px 0;
}

.cmn_hdr h2 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: bold;
  color: #2a0600;
  padding-bottom: 10px;
  text-transform: capitalize;
}

.cmn_hdr.wht h2 {
  color: #fff;
}

.cmn_hdr h6 {
  color: #2b2b2b;
  font-size: 26px;
  letter-spacing: 1px;
  line-height: 1.5;
  padding-bottom: 10px;
  text-transform: capitalize;
}

.cmn_hdr p {
  font-size: 20px;
  color: #3d565b;
  line-height: 1.5;
  padding-bottom: 10px;
}

.cmn_hdr_wht p {
  color: #fff;
}

.cmn_btn {
  font-size: 18px;
  color: rebeccapurple;
  padding: 15px 30px;
  background: #ec715d;
  border: 2px solid #ec715d;
  position: relative;
  text-transform: capitalize;
}

/*----Common Sec End----*/

/* Animation Section */

/* Swing */

.swing:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  top: -14px;
  left: 54%;
  z-index: 5;
  border-radius: 50% 50%;
  background: #000;
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  100% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
}

@keyframes swing {
  0% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  100% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
}

.swing:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  top: -10px;
  left: 50%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.swing {
  -webkit-animation: swing ease-in-out 1s infinite alternate;
  animation: swing ease-in-out 1s infinite alternate;
  -webkit-transform-origin: center -20px;
  -ms-transform-origin: center -20px;
  transform-origin: center -20px;
  float: left;
}

/* Rotate */

.rotate {
  animation: rotation 12s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

/* Floating */

.floating {
  -webkit-animation-name: floating;
  animation-name: floating;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }

  50% {
    -webkit-transform: translate(0, 15px);
    transform: translate(0, 15px);
  }

  100% {
    -webkit-transform: translate(0, -0px);
    transform: translate(0, -0px);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }

  50% {
    -webkit-transform: translate(0, 15px);
    transform: translate(0, 15px);
  }

  100% {
    -webkit-transform: translate(0, -0px);
    transform: translate(0, -0px);
  }
}

/* Animation Section End */
/* ------------ ez respon tab ----------- */
ul.resp-tabs-list,
p {
  margin: 0px;
  padding: 0px;
}

.resp-tabs-list li {
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
  padding: 13px 15px;
  margin: 0;
  list-style: none;
  cursor: pointer;
  float: left;
}

.resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  clear: left;
}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-content {
  display: none;
  padding: 15px;
}

.resp-tab-active {
  border: 1px solid #c1c1c1;
  border-bottom: none;
  margin-bottom: -1px !important;
  padding: 12px 14px 14px 14px !important;
}

.resp-tab-active {
  border-bottom: none;
  background-color: #fff;
}

.resp-content-active,
.resp-accordion-active {
  display: block;
}

.resp-tab-content {
  border: 1px solid #c1c1c1;
}

h2.resp-accordion {
  font-size: 13px;
  border: 1px solid #c1c1c1;
  border-top: 0px solid #c1c1c1;
  margin: 0px;
  padding: 10px 15px;
}

h2.resp-tab-active {
  border-bottom: 0px solid #c1c1c1 !important;
  margin-bottom: 0px !important;
  padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
  border-bottom: 12px solid #c1c1c1 !important;
  background: blue;
}

/*-----------Vertical tabs-----------*/

.resp-vtabs ul.resp-tabs-list {
  float: left;
  width: 30%;
}

.resp-vtabs .resp-tabs-list li {
  display: block;
  padding: 15px 15px !important;
  margin: 0;
  cursor: pointer;
  float: none;
}

.resp-vtabs .resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  float: left;
  width: 68%;
  min-height: 250px;
  border-radius: 4px;
  clear: none;
}

.resp-vtabs .resp-tab-content {
  border: none;
}

.resp-vtabs li.resp-tab-active {
  border: 1px solid #c1c1c1;
  border-right: none;
  background-color: #fff;
  position: relative;
  z-index: 1;
  margin-right: -1px !important;
  padding: 14px 15px 15px 14px !important;
}

.resp-arrow {
  width: 0;
  height: 0;
  float: right;
  margin-top: 3px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
  border: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #9b9797;
}

/*-----------Accordion styles-----------*/

h2.resp-tab-active {
  background: #dbdbdb !important;
}

.resp-easy-accordion h2.resp-accordion {
  display: block;
}

.resp-easy-accordion .resp-tab-content {
  border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
  border-bottom: 1px solid #c1c1c1 !important;
}

.resp-jfit {
  width: 100%;
  margin: 0px;
}

.resp-tab-content-active {
  display: block;
}

h2.resp-accordion:first-child {
  border-top: 1px solid #c1c1c1 !important;
}
/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
  ul.resp-tabs-list {
    display: none;
  }

  h2.resp-accordion {
    display: block;
  }

  .resp-vtabs .resp-tab-content {
    border: 1px solid #c1c1c1;
  }

  .resp-vtabs .resp-tabs-container {
    border: none;
    float: none;
    width: 100%;
    min-height: initial;
    clear: none;
  }

  .resp-accordion-closed {
    display: none !important;
  }

  .resp-vtabs .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
  }
}
